.button {
  border: none;
  cursor: pointer;

  padding: 14px 28px;

  border-radius: var(--border-radius-md);

  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 600;

  transition: var(--transition-default);
}

.primary {
  background: var(--color-primary);
  color: white;
}

.primary:hover {
  opacity: .9;
}

.secondary {
  background: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.secondary:hover {
  background: var(--color-primary);
  color: white;
}

.whatsapp {
    background: #25D366;
    color: white;
}

.whatsapp:hover {
    background: #1EBE5A;
}