.section {
    scroll-margin-top: 50px;
    max-width: var(--container-max-width);

    margin: 0 auto;

    padding: var(--spacing-3xl) var(--spacing-lg);
}

.title {
    margin-bottom: var(--spacing-2xl);

    font-family: var(--font-heading);

    font-size: 2.2rem;

    text-align: center;

    color: var(--color-text);
}

.grid {
    display: flex;
    gap: 1.5rem;
}

.grid > *{
    flex:0 0 88%;
    max-width:320px;
}

@media (min-width:768px){
    .grid > *{
        flex:0 0 320px;
    }
}